body{
    width: 100%;
    height: 100dvh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 510px;
    width: 60%;
    margin: 10px auto;
}

.login-header {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
}

.login-header .tittle {
    font-size: 50px;
    line-height: 55px;
}

.login-header .caption {
    color: #CDCDCD;
    font-size: 25px;
    font-weight: 200;
    line-height: 33px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.input-icon {
    position: relative;
    width: 100%;
    height: 95px;
}

.input-icon input {
    width: 100%;
    height: 100%;

    padding-left: 70px;
    font-size: 30px;
    font-weight: 200;
    color: #CDCDCD;
    
    background-color: #F2F2F2;
    outline: none;
    border: none;
    border-radius: 10px;
}

.input-icon input::placeholder {
    color: #CDCDCD;
}

.input-icon span {
    color: #CDCDCD;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    pointer-events: none;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.rememberme {
    display: block;
    position: relative;

    cursor: pointer;        
    padding-left: 35px;
    font-size: 25px;
    color: #A6A6A6;
}

.rememberme input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    opacity: 0;

    background-color: #CDCDCD;
    outline: none;
    border: none;
}

.checkmark {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    color: rgba(205,205,205,0);
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    
    width: 30px;
    height: 30px;

    background-color: #F2F2F2;
    border-radius: 5px;

    transition: color 200ms, background-color 200ms;
}

.rememberme input:checked ~ .checkmark {
    color: rgba(150, 150, 150);
    background-color: rgb(220, 220, 220)
}

.forgot-password a {
    font-size: 25px;
    color: #A6A6A6;
    text-decoration: none;

    transition: color 200ms, background-color 200ms;
}

.forgot-password a:hover {
    color: #757575;
}

.access-button {
    width: 100%;
    height: 100px;

    background-color: #353535;
    border-radius: 10px;

    font-size: 30px;
    font-weight: 600;
    color: white;

    cursor: pointer;
}

.register-button {
    width: 100%;
    height: 80px;

    background-color: white;
    border: 2px solid #353535;
    border-radius: 10px;

    font-size: 30px;
    line-height: 80px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #353535;
}

hr {
    margin: 10px 0;
    font-weight: 600;
    width: 100%;
}

.icones-header{
    width: 60px;
    height: 60px;
}